.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 2em;
  cursor: pointer;
  user-select: none;
}

.img {
  width: 2rem;
  margin-right: 0.6em;
}

.title {
  font-size: 1.2rem;
}

.input {
  margin-top: 0.3em;
  padding-left: 0.4em;
  height: 2.1rem;
  flex-basis: 100%;
  font-size: 1rem;
  outline: 0;
  background-color: black;
  border: 0.1em solid dimgray;
}

.button {
  margin-top: 0.4em;
  width: 2.2rem;
  height: 2.05rem;
  user-select: none;
  background-color: dimgray;
  border: none;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
  cursor: pointer;
  background-color: dimgray;
}
